In [1]:
import numpy as np
# linear algebra
import pandas as pd 

# data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
fraud_test=pd.read_csv("C:\\Users\\sanjay kumar saini\\OneDrive\\Desktop\\maths\\fraud.csv")
fraud_train=pd.read_csv("C:\\Users\\sanjay kumar saini\\OneDrive\\Desktop\\maths\\fraudtrain.csv")

In [ ]:
print(fraud_test.shape)
print(fraud_train.shape)

(555719, 23)
(1048575, 23)

In [ ]:
fraud_train.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [ ]:
fraud_test.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [ ]:
fraud_train=fraud_train.drop(columns=["Unnamed: 0","cc_num","merchant","first","last","gender","city","state","job"])
fraud_test=fraud_test.drop(columns=["Unnamed: 0","cc_num","merchant","first","last","gender","city","state","job"])

In [ ]:
fraud_train.head()

,trans_date_trans_time,category,amt,street,zip,lat,long,city_pop,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,01-01-2019 00:00,misc_net,4.97,561 Perry Cove,28654,36.0788,-81.1781,3495,09-03-1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,01-01-2019 00:00,grocery_pos,107.23,43039 Riley Greens Suite 393,99160,48.8878,-118.2105,149,21-06-1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,01-01-2019 00:00,entertainment,220.11,594 White Dale Suite 530,83252,42.1808,-112.2620,4154,19-01-1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,01-01-2019 00:01,gas_transport,45.00,9443 Cynthia Court Apt. 038,59632,46.2306,-112.1138,1939,12-01-1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,01-01-2019 00:03,misc_pos,41.96,408 Bradley Rest,24433,38.4207,-79.4629,99,28-03-1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [ ]:
def parse_dates(date_str):
    for fmt in ('%d-%m-%Y %H:%M', '%d/%m/%Y %H:%M'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT
# Apply the function to the column
fraud_train['trans_date_trans_time'] = fraud_train['trans_date_trans_time'].apply(parse_dates)

# Drop rows with invalid dates
fraud_train = fraud_train.dropna(subset=['trans_date_trans_time'])

# Convert to integer format
fraud_train['trans_date_trans_time_int'] = fraud_train['trans_date_trans_time'].view('int64')

In [ ]:
fraud_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 15 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   trans_date_trans_time      1048575 non-null  datetime64[ns]
 1   category                   1048575 non-null  object
 2   amt                        1048575 non-null  float64
 3   street                     1048575 non-null  object
 4   zip                        1048575 non-null  int64
 5   lat                        1048575 non-null  float64
 6   long                       1048575 non-null  float64
 7   city_pop                   1048575 non-null  int64
 8   dob                        1048575 non-null  object
 9   trans_num                  1048575 non-null  object
 10  unix_time                  1048575 non-null  int64
 11  merch_lat                  1048575 non-null  float64
 12  merch_long                 1048575 non-null  float64
 13  is_fraud                   1048575 non-null  int64
 14  trans_date_trans_time_int  1048575 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 120.0+ MB

In [ ]:
fraud_train['unix_time'] = pd.to_datetime(fraud_train['unix_time'],unit='s')
fraud_train['dob'] = pd.to_datetime(fraud_train['dob'],format='%d-%m-%Y')

In [ ]:
fraud_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 15 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   trans_date_trans_time      1048575 non-null  datetime64[ns]
 1   category                   1048575 non-null  object
 2   amt                        1048575 non-null  float64
 3   street                     1048575 non-null  object
 4   zip                        1048575 non-null  int64
 5   lat                        1048575 non-null  float64
 6   long                       1048575 non-null  float64
 7   city_pop                   1048575 non-null  int64
 8   dob                        1048575 non-null  datetime64[ns]
 9   trans_num                  1048575 non-null  object
 10  unix_time                  1048575 non-null  datetime64[ns]
 11  merch_lat                  1048575 non-null  float64
 12  merch_long                 1048575 non-null  float64
 13  is_fraud                   1048575 non-null  int64
 14  trans_date_trans_time_int  1048575 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(4), object(3)
memory usage: 120.0+ MB

In [ ]:
def parse_dates(date_str):
    for fmt in ('%d-%m-%Y %H:%M', '%d/%m/%Y %H:%M'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT
# Apply the function to the column
fraud_test['trans_date_trans_time'] = fraud_test['trans_date_trans_time'].apply(parse_dates)

# Drop rows with invalid dates
fraud_test = fraud_test.dropna(subset=['trans_date_trans_time'])

# Convert to integer format
fraud_test['trans_date_trans_time_int'] = fraud_test['trans_date_trans_time'].view('int64')

In [ ]:
fraud_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   trans_date_trans_time      555719 non-null  datetime64[ns]
 1   category                   555719 non-null  object
 2   amt                        555719 non-null  float64
 3   street                     555719 non-null  object
 4   zip                        555719 non-null  int64
 5   lat                        555719 non-null  float64
 6   long                       555719 non-null  float64
 7   city_pop                   555719 non-null  int64
 8   dob                        555719 non-null  object
 9   trans_num                  555719 non-null  object
 10  unix_time                  555719 non-null  int64
 11  merch_lat                  555719 non-null  float64
 12  merch_long                 555719 non-null  float64
 13  is_fraud                   555719 non-null  int64
 14  trans_date_trans_time_int  555719 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 63.6+ MB

In [ ]:
fraud_train['unix_time'] = pd.to_datetime(fraud_train['unix_time'],unit='s')
fraud_train['dob'] = pd.to_datetime(fraud_train['dob'],format='%d-%m-%Y')

In [ ]:
fraud_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   trans_date_trans_time      555719 non-null  datetime64[ns]
 1   category                   555719 non-null  object
 2   amt                        555719 non-null  float64
 3   street                     555719 non-null  object
 4   zip                        555719 non-null  int64
 5   lat                        555719 non-null  float64
 6   long                       555719 non-null  float64
 7   city_pop                   555719 non-null  int64
 8   dob                        555719 non-null  object
 9   trans_num                  555719 non-null  object
 10  unix_time                  555719 non-null  int64
 11  merch_lat                  555719 non-null  float64
 12  merch_long                 555719 non-null  float64
 13  is_fraud                   555719 non-null  int64
 14  trans_date_trans_time_int  555719 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 63.6+ MB

In [ ]:
fraud_train=fraud_train.drop(columns=["trans_date_trans_time_int"])

In [ ]:
fraud_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1048575 non-null  datetime64[ns]
 1   category               1048575 non-null  object
 2   amt                    1048575 non-null  float64
 3   street                 1048575 non-null  object
 4   zip                    1048575 non-null  int64
 5   lat                    1048575 non-null  float64
 6   long                   1048575 non-null  float64
 7   city_pop               1048575 non-null  int64
 8   dob                    1048575 non-null  datetime64[ns]
 9   trans_num              1048575 non-null  object
 10  unix_time              1048575 non-null  datetime64[ns]
 11  merch_lat              1048575 non-null  float64
 12  merch_long             1048575 non-null  float64
 13  is_fraud               1048575 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(3), object(3)
memory usage: 112.0+ MB

In [ ]:
fraud_train=fraud_train.drop(columns=["trans_num"])
fraud_test=fraud_test.drop(columns=["trans_num"])

In [ ]:
fraud_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1048575 non-null  datetime64[ns]
 1   category               1048575 non-null  object
 2   amt                    1048575 non-null  float64
 3   street                 1048575 non-null  object
 4   zip                    1048575 non-null  int64
 5   lat                    1048575 non-null  float64
 6   long                   1048575 non-null  float64
 7   city_pop               1048575 non-null  int64
 8   dob                    1048575 non-null  datetime64[ns]
 9   unix_time              1048575 non-null  datetime64[ns]
 10  merch_lat              1048575 non-null  float64
 11  merch_long             1048575 non-null  float64
 12  is_fraud               1048575 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(3), object(2)
memory usage: 104.0+ MB

In [ ]:
columns_to_be_encoded=["category"]

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), columns_to_be_encoded)
    ],
    remainder='passthrough'  # Keep the rest of the columns as they are
)

In [ ]:
fraud_train_encoded = preprocessor.fit_transform(fraud_train)
fraud_train_encoded = pd.DataFrame(fraud_train_encoded, columns=preprocessor.get_feature_names_out())

In [ ]:
fraud_test_encoded = preprocessor.transform(fraud_test)
fraud_test_encoded = pd.DataFrame(fraud_test_encoded, columns=preprocessor.get_feature_names_out())

In [ ]:
fraud_train.drop(columns=columns_to_be_encoded)
fraud_test.drop(columns=columns_to_be_encoded)

,trans_date_trans_time,amt,street,zip,lat,long,city_pop,dob,unix_time,merch_lat,merch_long,is_fraud,trans_date_trans_time_int
0,2020-06-21 12:14:00,2.86,351 Darlene Green,29209,33.9659,-80.9355,333497,19-03-1968,1371816865,33.986391,-81.200714,0,1592741640000000000
1,2020-06-21 12:14:00,29.84,3638 Marsh Union,84002,40.3207,-110.4360,302,17-01-1990,1371816873,39.450498,-109.960431,0,1592741640000000000
2,2020-06-21 12:14:00,41.28,9333 Valentine Point,11710,40.6729,-73.5365,34496,21-10-1970,1371816893,40.495810,-74.196111,0,1592741640000000000
3,2020-06-21 12:15:00,60.05,32941 Krystal Mill Apt. 552,32780,28.5697,-80.8191,54767,25-07-1987,1371816915,28.812398,-80.883061,0,1592741700000000000
4,2020-06-21 12:15:00,3.19,5783 Evan Roads Apt. 465,49632,44.2529,-85.0170,1126,06-07-1955,1371816917,44.959148,-85.884734,0,1592741700000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:00,43.77,558 Michael Estates,63453,40.4931,-91.8912,519,13-02-1966,1388534347,39.946837,-91.333331,0,1609459140000000000
555715,2020-12-31 23:59:00,111.84,572 Davis Mountains,77566,29.0393,-95.4401,28739,27-12-1999,1388534349,29.661049,-96.186633,0,1609459140000000000
555716,2020-12-31 23:59:00,86.88,144 Evans Islands Apt. 683,99323,46.1966,-118.9017,3684,29-11-1981,1388534355,46.658340,-119.715054,0,1609459140000000000
555717,2020-12-31 23:59:00,7.99,7020 Doyle Stream Apt. 951,83643,44.6255,-116.4493,129,15-12-1965,1388534364,44.470525,-117.080888,0,1609459140000000000
555718,2020-12-31 23:59:00,38.13,830 Myers Plaza Apt. 384,73034,35.6665,-97.4798,116001,10-05-1993,1388534374,36.210097,-97.036372,0,1609459140000000000

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
my_model=LogisticRegression(random_state=0,max_iter=1000,solver='liblinear')
X=fraud_train.drop(columns=["is_fraud","category","street"])

In [ ]:
y=fraud_train["is_fraud"]

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1048575 non-null  datetime64[ns]
 1   amt                    1048575 non-null  float64
 2   zip                    1048575 non-null  int64
 3   lat                    1048575 non-null  float64
 4   long                   1048575 non-null  float64
 5   city_pop               1048575 non-null  int64
 6   dob                    1048575 non-null  datetime64[ns]
 7   unix_time              1048575 non-null  datetime64[ns]
 8   merch_lat              1048575 non-null  float64
 9   merch_long             1048575 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(2)
memory usage: 80.0 MB

In [ ]:
X['trans_date_trans_time'] = X['trans_date_trans_time'].astype('int64')
X['dob'] = X['dob'].astype('int64')
X['unix_time'] = X['unix_time'].astype('int64')

In [ ]:

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1048575 non-null  int64
 1   amt                    1048575 non-null  float64
 2   zip                    1048575 non-null  int64
 3   lat                    1048575 non-null  float64
 4   long                   1048575 non-null  float64
 5   city_pop               1048575 non-null  int64
 6   dob                    1048575 non-null  int64
 7   unix_time              1048575 non-null  int64
 8   merch_lat              1048575 non-null  float64
 9   merch_long             1048575 non-null  float64
dtypes: float64(5), int64(5)
memory usage: 80.0 MB

In [ ]:
my_model.fit(X,y)

LogisticRegression(max_iter=1000, random_state=0, solver='liblinear')

In [ ]:
X_train = preprocess_data(fraud_train.drop(columns=["is_fraud"]))
y_train = fraud_train["is_fraud"]

In [ ]:
fraud_test['trans_date_trans_time'] = pd.to_datetime(fraud_test['trans_date_trans_time'])
fraud_test['dob'] = pd.to_datetime(fraud_test['dob'], format='%d-%m-%Y', errors='coerce')

In [ ]:
X_val['trans_date_trans_time'] = X_val['trans_date_trans_time'].astype('int64')
X_val['dob'] = X_val['dob'].astype('int64')
X_val['unix_time'] = X_val['unix_time'].astype('int64')

In [ ]:
X_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   trans_date_trans_time      555719 non-null  int64
 1   amt                        555719 non-null  float64
 2   zip                        555719 non-null  int64
 3   lat                        555719 non-null  float64
 4   long                       555719 non-null  float64
 5   city_pop                   555719 non-null  int64
 6   dob                        555719 non-null  int64
 7   unix_time                  555719 non-null  int64
 8   merch_lat                  555719 non-null  float64
 9   merch_long                 555719 non-null  float64
 10  trans_date_trans_time_int  555719 non-null  int64
dtypes: float64(5), int64(6)
memory usage: 46.6 MB

In [ ]:
y_val = fraud_test["is_fraud"]

In [ ]:

y_val.info()

<class 'pandas.core.series.Series'>
RangeIndex: 555719 entries, 0 to 555718
Series name: is_fraud
Non-Null Count   Dtype
--------------   -----
555719 non-null  int64
dtypes: int64(1)
memory usage: 4.2 MB